// Do not add any CSS to this file in the theme sources.
// This file can be overridden to add project-specific CSS.

.app-header{
  a {
    color: #fdfdfd;
  }
  p {
    color: #e5e2e2;
  }

  .app-footer-copyright {
    background: $darkest-color;
    text-align: center;
    bottom: 0;
  
    p {
      margin: 0 0.1em;
      color: #b6b6b6
    }
  }
}

// 見出し
.app-container{
  h1 {
    color: #fdfdfd;
    border-bottom: 0.2em solid #dfdfdf;
  }
  h2,h3,h4,h5,h6{
    color: #fdfdfd;
    border-left: 0.25em solid #aedddf;
    padding:0.42em 0.5em;
  }

  .posts-list-item-title{
    color: #faf7df;
  }

  hr {
    border: 0.15em solid #dfdfdf;
  }
}

// 記事本文
.post-content{
  p {
    margin: 0;
    font-family: sans-serif;
    background: $dark-color;
    color: $text-color;

    a {
      color: #9fd0ec;
    }
  }

  td,
  th {
    border: 0.1em solid #c4c1c1;
  }

  table {
    width: auto;
    border-collapse: collapse;
  }

  blockquote {
    padding-left: 0.54em;
    border-left: 0.2em solid #ccc;
    text-overflow: ellipsis;
  }

  .footnote-ref {
    color: #478de9;
  }
}